/* Bloop - v1.1.0 */
@import "https://leeprky.github.io/themes/Bloop/imports.css";

/* Glasscord */
@import "https://leeprky.github.io/themes/Bloop/source/glasscord.css";
.theme-dark {
  --glasscord-win-blur: blurbehind;
  --glasscord-linux-blur: true;
  --glasscord-macos-vibrancy: fullscreen-ui;
  --glasscord-blur-corner-radius: 20px;
  --background-accent: var(--glasscord-accent); 
  --background-floating: var(--glasscord-floating); 
  
  /*--glasscord-primary: #0000007e !important;*/
  --glasscord-primary: #0000007e !important;
  --glasscord-secondary: var(--color14) !important;
  --glasscord-secondary-alt: #18191bcc !important;
  --glasscord-accent: var(--alt-color2) !important;
  --glasscord-tertiary: #131416a4 !important;
  --glasscord-floating: #18191c !important;
  --glasscord-backdrop: 0.55 !important;
}
:root {--im-aware: none !important} /* Turn To "block to enable */

.theme-dark {

    /* Main Colours - Try Keep These The Same */
    --main-colour: rgba(0,0,0,0,); /* RGB ONLY */
    --main-colour2: var(--color2); /* HEX ONLY */
    --main-colour3: 155; /* HSL ONLY */
    --alt-color: pink;
    --alt2-color: pink;
  
    /* Green Colours */
    --green-color: var(--alt-color2); /* HEX ONLY */
    --green-color2: var(--alt-color); /* RGB ONLY */
    --green-bar-on: rgba(var(--alt-color), 0.3); /* RGBA ONLY */
    --green-bar-bg: var(--green-color); /* RGB ONLY */
    --green-slider-on: var(--green-color); /* RGB ONLY */
    --green-slider-off: rgba(var(--alt-color), 0.4); /* RGBA ONLY */
    --green-slider-dot: #fff;
  
    /* Status/Other Things Colours */
    --wordmark-text: "";
    --watermark: none;
    --square-rounding: 10px;
    --sidebar-fade: 93%;
    --memberlist-fade: 93%;
    --sidebar-channels: 90%;

    --text-glow: 0 0px 2.5px;
    --avatar-glow: 0 0 6px;
    --general-glow-strong: 0 0 5px;
    --general-glow-weak: 0 0 1px;

    --gaps: 0px;

    --rs-avatar-shape: 22%;
    --rs-online-color: #4cee8f;  /* Colour for online status */
    --rs-idle-color: #f1c73d;  /* Colour for idle status */
    --rs-dnd-color: #df4460;  /* Colour for dnd status */
    --rs-offline-color: #636b75;  /* Colour for offline status */
    --rs-streaming-color: #643da7;  /* Colour for streaming status */
    --rs-invisible-color: #747f8d;  /* Colour for invisible status - Note: this will only show for your own invisibility */
  
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/

    /* Header Colours */
    --headers: var(--color13);
    --headers-secondary: #b9bbbe;
  
    --chatbox-colour: var(--background-secondary);
    --mentioned: rgba(var(--alt-color), 0.4);
    --mentioned-hover: rgba(var(--alt-color), 0.2);
  
    /* Text Colours */
    --namesusernames: #FFFFFF;
    --text: #dcddde;
    --text-positive1: var(--green-color);
    --muted: #70757e;
    --links: var(--alt-color2);
    
    /* Interative Buttons */
    --button-interactive: #bebebe;
    --button-interactive-hover: var(--main-colour2);
    --button-interactive-active: #bebebe;
    --button-interactive-muted: #5b5e61;
  
    /* Backgrounds */
    --main-background: #1f2024;
    --main-background-alternative: #26282c;
    --secondary-background: #18191b;
    --secondary-background-alternative: #141618;
    --tertiary: #131416;
    --accent: var(--alt-color2);
    --floating: #18191c;
  
    /* Hovering Colours */
    --main-hover: rgba(var(--alt-color), 0.2);
    --main-hover-active: rgba(var(--alt-color), 0.8);
    --main-hover-selected: rgba(var(--alt-color), 0.5); 
    --main-hover-accent: rgba(var(--alt-color), 0.1); 
  
    /* Infos */
    --info-warning: var(--alt-color2);--help-warning: var(--alt-color2); --help-info: var(--alt-color2);--radio-group-dot: var(--alt-color);
  
    /* Drop Shadow */
    --shadow-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --shadow-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --shadow-medium: 0 4px 4px rgba(0,0,0,0.16);
    --shadow-high: 0 8px 16px rgba(0,0,0,0.24);
  
    /* Scollbars */
    --scrollbars: none; /* Flex To See Scrollbars / None For None */
    --scrollbar-small: #413838;
    --scrollbar-small-track: transparent;
    --scrollbar-large-thumb: #413838;
    --scrollbar-large-track: #5d4e4e;
    --scrollbar-small-scrollbar-color: #413838;
    --scrollbar-small-scrollbar-color-track: #5d4e4e;
  
    /* Button Gradients */
    --default-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--special-gradient: 315deg, rgba(var(--alt-color), 0.1) 0%, #c987b8 74%;--red-gradient: 315deg, #AA3738 0%, #F04747 74%;--red-hsl: hsl(359, 63%, 53%);--yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74%;--yellow-hsl: hsl(46, 72%, 52%);--green-gradient: 315deg, #507a73 0%, #4b7c72  74%;--grey-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;
    --font-normal: 500;--font-hover: bold;--font-size-hover: 15px;--hover-transition: 0.1s linear;--transform-normal: scale(1);--hover-transform: scale(1.15);--setting-hover-transform: scale(1.025);--button-hover-transform: scale(1.03);
  }

:root {--outdated_bloop-120: none !important; --version: "1.1.0PC" !important; --build: "120" !important}

@keyframes gradient-border {
  from {
    background-position: 0 0;
  }
  to {
    border-: 135% 0;
  }
}


/* BitterSweet */
.content-2a4AW9 > div:nth-child(2) {
  display: none;
}


/* timeless */
.timestamp-p1Df1m.timestampInline-_lS3aK {
  display: none
}

/* no tips please */
.channelTextArea-220_Gz.channelTextArea-1VQBuV {
  margin-bottom: 10px;
}
.operations-3q3u6E {
  display: none;
}


/* FIXES */
/* inline codeblock fix */
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  color: white !important;
}
/* username with bot tag and fhighest role plugin spacing fix */
.botTagCozy-3NTBvK.botTag-1NoD0B.botTagRegular-kpctgU.botTag-7aX5WZ.rem-3kT9wc.toprole-wrapper.tag {
  margin-left: 10px;
  margin-right: 5px;
}
.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt {
  margin-top: 20px !important;
}
/* THREADS POPOUT */
.container-3XgAHv {
  background-color: var(--glasscord-secondary-alt) !important;
  margin: 15px 20px 15px 0px;
  border-radius: 8px;
}
[aria-label="Thread header"]{
  transform: translateX(240px);
  width: 100%;
}

/* friendo lists */
.peopleList-2VBrVI.auto-2K3UW5.scrollerBase-_bVAAt {
  background-color: transparent !important;
  border-radius: 8px;
}
.peopleListItem-u6dGxF {
  height: 100% !important;
}
.listItemContents-2n2Uy9{
  background-color: var(--glasscord-primary);
  padding: 0px 15px 0px 15px;
  border-radius: 8px;
  margin-top: 10px;
}
.listItemContents-2n2Uy9 .pd-mutualGuilds.pd-container {
  margin-top: 28px;
}

/* DISPLAY NONE */
[aria-label="Update Ready!"] {
  display: none;
}

/* change server folder background */
.expandedFolderBackground-1kSAf6 {
  background-color: var(--glasscord-secondary-alt) !important;
}

/* pronounDB */
.pronoundb-pronouns {
  color: var(--headers) !important;
}

/* status picker hehehe */
[id="status-picker"] {
  width: 100%;
  background: var(--background-primary) !important;
  left: 55px;
  bottom: -60px;
}
[id="status-picker"] .scrollerBase-_bVAAt {
  display: grid !important;
}

[id="status-picker-custom-status"],
[id="status-picker"] div[role=group] {
  grid-column: 1/5 !important;
}

[id="status-picker"] .item-1OdjEX:not([id="status-picker-custom-status"]) .status-3TYC5W {display: none;}
[id="status-picker"] .description-2L932D {display: none;}
[id="status-picker"] .separator-1So4YB {display: none;}

[id="status-picker"] .status-3TYC5W {
  margin-left: 8px;
  background: none;
}

[id="status-picker"] .mask-2Me5HY {
  height: 78%; 
  width: 78%;
  margin-left: 3px;
}

[id="status-picker-online"],
[id="status-picker-idle"],
[id="status-picker-dnd"],
[id="status-picker-invisible"] {
  margin-right: 15px;
}

[id="status-picker-online"] .statusItem-2hiCNB,
[id="status-picker-idle"] .statusItem-2hiCNB,
[id="status-picker-dnd"] .statusItem-2hiCNB,
[id="status-picker-invisible"] .statusItem-2hiCNB {
  padding: 8px 8px;
}

[id="status-picker-custom-status"] .statusItem-2hiCNB {
  padding: 6px 8px;
}

.item-1OdjEX {
  background: none !important;
}

[id="status-picker"] .customEmojiPlaceholder-3mRJqA {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

[id="status-picker"] .colorDefault-CDqZdO.focused-3qFvc8 .customEmojiPlaceholder-3mRJqA {
  background: var(--interactive-active);
}

[id="status-picker-custom-status"] {
  margin-top: 12px !important;
}

[id="status-picker-custom-status"]::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

[id="status-picker-dnd"]::after,
[id="status-picker-idle"]::after,
[id="status-picker-invisible"]::after,
[id="status-picker-online"]::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: 6px;
  left: 50px;
  width: 1px;
  height: 24px;
}
.customText-36Uwzc {
  display: unset !important;
}
.customStatusItem-1qQzss {
  grid-template-columns: unset;
}


/* Right side user panel */
.membersWrap-3NUR2t.hiddenMembers-8kpYM0{
  top: 0px;
  height: 100%;
  left: 3px;
}
.container-YkUktl {
  right: 15px !important;
  height: 45px;
  background-color: var(--glasscord-primary) !important;
}
.container-1zzFcN {
  position: fixed;
  right: 15px !important;
  bottom: 60px;
  background-color: var(--glasscord-primary) !important;
  
}
.labelWrapper-1HofQ- .statusWithPopout-1MDqs1, .ping-2IpLcU > path{
  color: var(--headers-secondary) !important;
}
.sidebar-1tnWFu {
  height: 108%;
  width: 15%;
}
.unreadBottom-3Ojk6R.unread-XRkyaQ{
  bottom: 8%;
  left: -1px;
  width: 96%;
}
.avatarWrapper-1B9FTW {
  bottom: 20px;
  left: 30px;
  transform: scale(1.4);
}
.messageListItem-ZZ7v6g {
  max-width: 98.5%;
  margin-left: 7px !important;
}

/* vc background */
.root-22AK9z, .callContainer-HtHELf {
  background-color: transparent !important;
}
.root-u9h3Ui.tile-2TcwiO {
  background-color: var(--glasscord-secondary);
}
.tile-2Dr6M1, .content-3u3YYB {
  background-color: transparent !important;
}

/* that little mention message before thing */
.ephemeral-2nDdnn:before, .mentioned-Tre-dv:before, .replying-eZ7p5z:before {
  display: none;
}

.mentioned-Tre-dv, .ephemeral-2nDdnn, .replying-eZ7p5z {
  border-style: solid;
  border-bottom-width: 5px;
  border-color: hotpink;
}

/* clean chat bars  */
.wrapper-2SplAX, .inner-NQg18Y.innerDisabled-2dbG11.inner-NQg18Y.sansAttachButton-1ERHue {
  display: none;
}
.channelTextArea-1FufC0.channelTextArea-1VQBuV, .scrollableContainer-15eg7h.webkit-QgSAqd {
  background-color: var(--glasscord-secondary) !important;
}
[aria-label="Send a gift"], [aria-label="Open GIF picker"], [aria-label="Open sticker picker"] {
  display: none;
}
.channelTextArea-1FufC0.channelTextArea-1VQBuV .placeholder-1_mJY1.fontSize16Padding-XoMpjI {
  display: none;
}

/* embed stuff */
.embedWrapper-1MtID {
  background-color: var(--glasscord-secondary-alt) !important;
}

/* fuck that replied spine */
.repliedMessage-3Z6XBG::before {
  display: none;
}
/* fuck the channel settings buttons */
.channelSettingButtons-sCQ_2T {
  display: none;
}

/* server banners */
.animatedContainer-2laTjx {
  box-shadow: none !important;
  opacity: 1;
  transition: opacity .5s !important;
  height: 225%;
  border-radius: 8px;
}
.header-3OsQeK {
  transform: scale(1.1) translateY(-10px);
  margin-top: 10px;
  margin-left: auto !important;
}
.container-1NXEtd {
  margin-top: 10px !important;
}
.animatedContainer-2laTjx > .bannerImage-ubW8K- {
  transition: margin .5s;
}
:not(.bannerVisible-Vkyg1I) > .animatedContainer-2laTjx {
  height: 139px;
  opacity: 1 !important;
}
:not(.bannerVisible-Vkyg1I) > .animatedContainer-2laTjx > .bannerImage-ubW8K- {
  margin-top: -12px !important;
}


/* BULLDOG */


/* better user popouts */
.userPopout-2j1gM4 {
  border-radius: 8px;
}
.userPopout-2j1gM4 .avatarWrapper-eenWra {
  top: 0;
  left: 50%;
  margin: 15px 0 0 -40px;
  z-index: 2;
}
.userPopout-2j1gM4 .avatar-2Vndt_ {
  border: none;
  background: none;
}
.userPopout-2j1gM4 .headerTop-3GPUSF {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
.userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq {
  padding-bottom: 8px;
  z-index: 2;
}
.userPopout-2j1gM4 .banner-1YaD3N {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  height: 180px;
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
}
.userPopout-2j1gM4 .profileBadges-2pItdR {
  max-width: unset;
  position: static;
  justify-content: center;
  z-index: 2;
}
.userPopout-2j1gM4 .profileBadges-2pItdR > * {
  margin: 0 2px;
}
.userPopout-2j1gM4 .profileBadges-2pItdR:empty {
  margin-bottom: 20px;
}
.userPopout-2j1gM4 .footer-3naVBw {
  position: absolute;
  background: transparent;
  right: -6px;
  top: 12px;
  z-index: 2;
}
.userPopout-2j1gM4 .footer-3naVBw .input-2g-os5 {
  background-color: rgba(0, 0, 0, 0.3);
  width: 76px;
  height: 30px;
  border: none;
  transition: 0.2s ease;
}
.userPopout-2j1gM4 .footer-3naVBw .input-2g-os5:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.userPopout-2j1gM4 .pencilContainer-18TrEJ {
  display: none;
}
.userPopout-2j1gM4 .tgp-button {
  transform: translate3d(0,-5px,0);
  top: 50px;
  z-index: 2;
}
.userPopout-2j1gM4:hover .tgp-button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.userPopout-2j1gM4 .scrollerSeparator-CHLxyV {
  box-shadow: none;
}
.userPopout-2j1gM4 .divider-1wtgZ3,
.userPopout-2j1gM4 .headerTagWithNickname-1U8zZH,
.userPopout-2j1gM4 .avatarHint-k7pYop {
  display: none;
}

/* body scroller */
.userPopout-2j1gM4 .body-2wLx-E {
  max-height: 465px;
  padding: 10px 10px 0 10px !important;
}
.userPopout-2j1gM4 .customStatus-3XAoF9 {
  text-align: center;
  margin-bottom: 10px;
}
.userPopout-2j1gM4 .customStatus-3XAoF9 .customStatusEmoji-1bFQdD {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  width: 40px;
  height: 40px;
}
.userPopout-2j1gM4 .applicationInstallButton-taCWKH {
  margin: 0 0 10px 0;
}
.userPopout-2j1gM4 .aboutMeTitle-3pjiS7 {
  background-color: var(--background-primary);
  padding: 8px 10px 8px 10px;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: white !important;
}
.userPopout-2j1gM4 .aboutMeBody-1J8rhz {
  background-color: var(--background-secondary);
  padding: 10px;
  margin: 0 0 10px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll;
}
.userPopout-2j1gM4 .aboutMeBody-1J8rhz::-webkit-scrollbar {
  display: none;
}
.userPopout-2j1gM4 .aboutMeSection-PUghFQ {
  margin: 0;
}
.userPopout-2j1gM4 .headerContainer-1wJjOa {
  background-color: var(--background-primary) !important;
  padding: 8px 0 8px 0 !important;
  margin: 0 !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.userPopout-2j1gM4 .headerText-3g1XK9 {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: white !important;
}
.userPopout-2j1gM4 .activity-1gTu-L {
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 0;
  margin: 0 0 10px 0;
}
.userPopout-2j1gM4 .bodyAlignCenter-3E27PU, 
.userPopout-2j1gM4 .bodyNormal-250CQK {
  padding: 10px;
}
.userPopout-2j1gM4 .buttonsWrapper-2ARRp1 {
  border-radius: 8px;
  margin: 0 10px;
  padding-bottom: 10px;
}
.userPopout-2j1gM4 .buttonsWrapper-2ARRp1:empty {
  display: none;
}
.userPopout-2j1gM4 .platformIcon-k3yytQ {
  margin: 4px 8px;
}
.userPopout-2j1gM4 .timeBarUserPopout-qLXZaR {
  margin: 0 10px 10px 10px;
}
.userPopout-2j1gM4 .bodyTitle-2Az3VQ {
  background-color: var(--background-primary);
  padding: 8px 10px 8px 10px;
  margin: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: white !important;
}
.userPopout-2j1gM4 .rolesList-3uZoaa {
  background-color: var(--background-secondary);
  padding: 10px;
  margin: 0 0 10px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.userPopout-2j1gM4 .note-Go5ZP2 {
  background-color: var(--background-secondary);
  padding: 10px;
  margin: 0 0 10px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* popout animation */
.userPopout-2j1gM4 {
  animation: popout .1s ease;
  transform-origin: center;
}

/* avatar zoom on hover */
.avatar-2Vndt_ {
  transition: 0.2s;
}
.avatar-2Vndt_:hover{
  transform: scale(1.1);
}

/* filled role colors */
.role-2TIOKu {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-left: 3px solid;
  border-radius: 3px 6px 6px 3px !important;
  background: none;
}
.role-2TIOKu .roleCircle-1EgnFN {
  width: 6px !important;
  height: 6px !important;
  margin-left: 1px;
}
.role-2TIOKu .roleCircle-1EgnFN:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.1;
  z-index: -1;
}
.addButton-1_dZYu {
  background: none;
}

/* colored role selection backgrounds */
.container-2O1UgZ {
  background-color: var(--background-secondary);
  border-radius: 8px;
}
.container-2O1UgZ .list-3cyRKU .item-1BCeuB {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
}
.container-2O1UgZ .list-3cyRKU .item-1BCeuB .popoutRoleDot-2_Nt5g {
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
.container-2O1UgZ .list-3cyRKU .item-1BCeuB .popoutRoleDot-2_Nt5g:before {
  position: absolute;
  border-radius: 5px;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
  z-index: -1;
}

/* squared avatars */
:root {--avatar-radius: 26%};

img[class^="avatar"] {
  border-radius: var(--avatar-radius);
}
.wrapper-1VLyxH foreignObject,
.callAvatarMask-fiNMWy foreignObject,
.avatarContainer-gPrCzX foreignObject,
.avatarMasked-qX7NI7 {
  mask: none;
  -webkit-mask: none;
}
.wrapper-1VLyxH,
.avatar-2e8lTP,
.profile-1o7I_1 .avatarUploaderInner-yEhTv5,
.voiceAvatar-lRbblo,
.avatar-3FKimL,
.border-2BJQjd,
.avatar-3TrM7c,
.clickableAvatar-igrb2Y,
.emptyUser-2FDCJv,
.avatar-b5OQ1N,
.wrapper-3mYmFS.ringingIncoming-fibTw-::after,
.wrapper-3mYmFS.ringingOutgoing-1NjfRn::after,
.replyAvatar-sHd2sU,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
.avatarContainer-3tBLDx,
.appAvatar-2_lufo,
.flexChild-3PzYmX .avatarUploaderInner-yEhTv5,
.iconInactive-26M06U,
.avatarUploaderInner-p38nm2 {
  border-radius: var(--avatar-radius);
}
.avatarHint-k7pYop foreignObject:not(.avatarHintInner-2HUAWj) {
  mask: unset !important;
}

/* user tags */
#app-mount .avatar-2e8lTP + h2 {
  overflow: visible;
}
.avatar-2e8lTP:hover + h2 {
  opacity: 1;
}
.avatar-2e8lTP + h2::after {
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  bottom: -30px;
  left: -29px;
  transition: all 0.1s;
}
.avatar-2e8lTP:hover + h2::after {
  background-color: rgb(20, 20, 20);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  pointer-events: none;
  color: rgb(255, 255, 255);
  width: auto;
  opacity: 1;
  transform: scale(1);
}
.avatar-2e8lTP[src*="866192755238895646"] + h2::after, /* Bulldög */
.avatar-2e8lTP[src*="468500443300102158"] + h2::after, /* skmotenman */
.avatar-2e8lTP[src*="766385575530856458"] + h2::after, /* Crenshaw*/
.avatar-2e8lTP[src*="424952600345968650"] + h2::after, /* Ary */
.avatar-2e8lTP[src*="679860570782040186"] + h2::after, /* коронавирус */
.avatar-2e8lTP[src*="662118883074768905"] + h2::after /* Womfette */ {
  content: "";
}
/* Bulldög */
.avatar-2e8lTP[src*="866192755238895646"]:hover + h2::after {
  content: 'Bulldog';
  background: linear-gradient(to left,rgb(0, 0, 0), rgb(23, 138, 204), rgb(0, 0, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  z-index: 2;
}
/* skmotenman */
.avatar-2e8lTP[src*="468500443300102158"]:hover + h2::after {
  content: 'Spedtard';
  background: linear-gradient(to left,rgb(0, 0, 0), rgb(240, 20, 240), rgb(0, 0, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  z-index: 2;
}
/* Ary */
.avatar-2e8lTP[src*="424952600345968650"]:hover + h2::after {
  content: 'Ary';
  background: linear-gradient(to left,rgb(0, 0, 0), rgb(230, 108, 78), rgb(0, 0, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  z-index: 2;
}
/* Crenshaw */
.avatar-2e8lTP[src*="766385575530856458"]:hover + h2::after {
  content: 'Crenshaw';
  background: linear-gradient(to left,rgb(0, 0, 0), rgb(75, 0, 130), rgb(0, 0, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  z-index: 2;
}
/* коронавирус */
.avatar-2e8lTP[src*="679860570782040186"]:hover + h2::after {
  content: 'Loli';
  background: linear-gradient(to left,rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  z-index: 2;
}
/* Womfette */
.avatar-2e8lTP[src*="662118883074768905"]:hover + h2::after {
  content: "Loli's Wife";
  background: linear-gradient(to left,rgb(0, 0, 0), rgb(60, 40, 20), rgb(0, 0, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  z-index: 2;
}

/* ----------------------------------------USER MODALS---------------------------------------- */

/* cool user modal */
.root-8LYsGj {
  width: 700px;
  height: 475px;
}
.body-1Ukv50 {
  position: absolute;
  background-color: transparent;
  left: 250px;
  top: 30px;
  height: 385px;
  width: 400px;
}
.root-8LYsGj .profileBannerPremium-KD60EB,
.root-8LYsGj .profileBanner-1owKI5 {
  position: absolute;
  width: 700px;
  height: 475px;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.root-8LYsGj .additionalActionsIcon-3Cy8UU {
  position: absolute;
  bottom: 240px;
  right: 425px;
  transform: scale(2);
  color: var(--headers-secondary);
}
.root-8LYsGj .badgeList-2aoHPw {
  position: absolute;
  top: 0px;
  left: 0px;
}
.root-8LYsGj .relationshipButtons-3ByBpj {
  position: absolute;
  top: 415px;
  right: -5px;
  z-index: 5;
}
.root-8LYsGj .pencilContainer-18TrEJ {
  display: none;
}

/* body scroller */
.root-8LYsGj .root-g14mjS {
  background-color: var(--glasscord-primary) !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 8px;
}
.root-8LYsGj .userInfoSection-2u2hir {
  padding: 0;
}
.root-8LYsGj .userInfoSectionHeader-2mYYun {
  background-color: var(--glasscord-secondary-alt);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 14px;
  font-weight: 600;
}
.root-8LYsGj .markup-eYLPri, .root-8LYsGj .note-3M15gE {
  background-color: var(--glasscord-secondary);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll;
}
.root-8LYsGj .note-3M15gE {
  margin-top: 0;
}
.root-8LYsGj .markup-eYLPri::-webkit-scrollbar, .root-8LYsGj .note-3M15gE::-webkit-scrollbar {
  display: none;
}
.root-8LYsGj .connectedAccounts-1YaT2t {
  padding-top: 12px;
  padding-bottom: 12px;
}
.pc-connections .connectedAccounts-1YaT2t:empty::before {
  display: none !important;
}

/* User Avatar */
.avatar-3QF_VA {
  left: 50px;
  top: 50px;
  transform: scale(1.5);
  background: none;
}
.wrapper-1VLyxH img, .wrapper-1VLyxH.avatar-3QF_VA {
  border-color: transparent !important;
}
.avatar-3QF_VA .pointerEvents-9SZWKj {
  pointer-events: none !important;
}
.root-8LYsGj [mask="url(#svg-mask-status-offline)"], .root-8LYsGj [mask="url(#svg-mask-status-online)"], .root-8LYsGj [mask="url(#svg-mask-status-dnd)"], .root-8LYsGj [mask="url(#svg-mask-status-idle)"] {
  width: 87% !important;
}
.nameTag-2Nlmsy {
  left: 21.5px;
  top: 41.75px;
  width: 128.2px;
  height: 126.95px;
  padding: 25px;
  margin: 0px !important;
  filter: opacity(0%);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
  border-radius: var(--rs-avatar-shape);
}
.nameTag-2Nlmsy:hover {
  filter: opacity(100%) !important;
}

/* custom status */
.root-8LYsGj .customStatusActivity-WKWGD- {
  position: relative !important;
  padding: 8px 8px;
  left: 30px;
  top: 60px;
  width: 164px;
  max-height: 90px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 8px;
  text-align: center;
  overflow-wrap: break-word;
  overflow-y: scroll;
}
.root-8LYsGj .customStatusActivity-WKWGD-::-webkit-scrollbar {
  display: none;
}
.root-8LYsGj .customStatusActivity-WKWGD- .customStatusEmoji-3Oq9Rm {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 50px;
  height: 50px;
}

/* activity */
.root-8LYsGj .userProfileActivity-sal5no {
  background-color: var(--glasscord-primary);
  top: 14px;
  max-width: 300px;
  margin-right: 22px;
  margin-bottom: 8px;
  border-radius: 8px;
}
.root-8LYsGj .actionsProfile-31n1ca {
  background: var(--background-secondary) !important;
  padding: 10px 16px 16px 16px;
  position: absolute;
  top: 136px;
  left: -20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.root-8LYsGj .actionsProfile-31n1ca:empty {
  display: none;
}
.root-8LYsGj .actionsProfile-31n1ca .button-f2h6uQ:only-child {
  width: 328px;
}
.root-8LYsGj .actionsProfile-31n1ca .button-f2h6uQ {
  width: 328px;
}
.root-8LYsGj .horizontal-30-DXt>:not(:first-child) {
  margin-left: -22px;
}

/* grid mutuals */
.root-8LYsGj .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 {
  display: inline-table;
  transition: all 0.1s;
}
.root-8LYsGj .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6:hover {
  background: none;
  transform: scale(1.14);
}
.root-8LYsGj .listScroller-entkMk .listRow-2nO1T6 .iconSizeMedium-2vzSua {
  width: 50px !important;
  height: 50px !important;
  margin-right: 10px;
  margin-top: 8px;
}
.root-8LYsGj .listScroller-entkMk .listName-PwbeHL, .root-8LYsGj .listScroller-entkMk .listRowContent-PEmSWj {
  display: none;
}
.root-8LYsGj .body-1Ukv50 .listScroller-entkMk {
  margin-left: 10px;
  margin-top: -22px;
  height: 396px;
}
.root-8LYsGj .body-1Ukv50 .wrapper-1VLyxH {
  margin-right: -17px;
}
.root-8LYsGj .noIcon-3gSX9V.iconSizeMedium-2vzSua {
  top: -25px;
  margin-bottom: -25px;
}
.root-8LYsGj .listScroller-entkMk .mask-1FEkla.svg-2azL_l, .listRow-2nO1T6 .listAvatar-2bU5Uh.wrapper-1VLyxH {
  width: 75px !important;
  height: 75px !important;
}
#app-mount .root-8LYsGj .listScroller-entkMk .wrapper-1VLyxH rect {
  display: none;
}

/* grid connections */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir {
  border-top: none;
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli {
  position: relative;
  width: 160px;
  flex-direction: column;
  overflow: hidden;
  border: none;
  margin: 10px -5px 0 -5px;
  padding: 10px;
  transition: all 0.1s;
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli:hover {
  transform: scale(1.08);
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t {
  position: relative;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
  z-index: 2;
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountNameInner-t24B11 {
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: center;
  overflow: visible;
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountNameInner-t24B11 .connectedAccountName-j0meX4 {
  text-align: center;
  margin: 0;
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountNameInner-t24B11 span {
  display: none;
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .anchor-1MIwyf > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: transparent;
}
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t + .connectedAccountNameInner-t24B11::before {
  content: "";
  position: absolute;
  top: -65px;

  z-index: -1;
  width: 170px;
  height: 90px;
  border-radius: 8px;
  opacity: 0.25;
}
/* spotify */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #1ED760;
}
/* youtube */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/57ee9535485efae7eb923ed4893abb57.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #D9252A;
}
/* steam */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/d897626dfa2016ea3ad0af935acb6070.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #000000;
}
/* twitch */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/ca71e0b8818221eea1deebbaf8dc6518.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #553092;
}
/* reddit */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/f3224f560c8f5974355596a4f7e9ce19.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #FF4500;
}
/* xbox */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/1fa6585cbb8c0fe21188e26d19fc6609.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #5DC21E;
}
/* github */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/6a853b4c87fce386cbfef4a2efbacb09.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #191717;
}
/* twitter */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/85cf2b49d2a185c98ec8e383ad5a05d6.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #1DA1F2;
}
/* battle.net */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/37f15a06d062bdd0fc252d2b35d0b0bb.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #009AE5;
}
/* skype */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/316ed923548387f8983e28a3804e6712.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #258ed4;
}
/* league of legends */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/94dc6f30a819026fa295d85f1f72b4ab.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #cea146;
}
/* facebook */
.root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/32045743cb7670855ae726743c949e0c.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #2d35a8;
}


#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
  display: none !important;
}



/* CSS variables
   Generated by 'wal' */
:root {
    --wallpaper: url("/home/bittersweet/.config/eww/images/cover.jpg");

    /* Special */
    --background: #151210;
    --foreground: #ccd2d2;
    --cursor: #ccd2d2;

    /* Colors */
    --color0: #151210;
    --color1: #6A9B5C;
    --color2: #F09E24;
    --color3: #D4AD56;
    --color4: #E2AD63;
    --color5: #6A728C;
    --color6: #6E98A9;
    --color7: #ccd2d2;
    --color8: #8e9393;
    --color9: #6A9B5C;
    --color10: #F09E24;
    --color11: #D4AD56;
    --color12: #E2AD63;
    --color13: #6A728C;
    --color14: #6E98A9;
    --color15: #ccd2d2;
}
